<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sentiment Analyzer</title>
  <meta name="description" content="Calculate sentiment score of any text">
  <meta name="author" content="sruushh">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <base href="/">
    
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:black;">
    <a class="navbar-brand"><img src="{{ url_for('static', filename='logo.PNG') }}" alt="logo" style="width:60px;"></a>
    <div class="collapse navbar-collapse" id="navbarNav"><ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/">Search<span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a class="nav-link" href="/text-analysis">Text Analysis</a></li>
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Links</a>
            <div class="dropdown-menu" style="background-color:lightgrey;" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="https://www.linkedin.com/in/srushti-khatri-48ba7b264/" target="_blank"><span class="fa fa-linkedin"></span> Contact</a>
            </div>
        </li>
    </ul></div>
</nav>
<script>
    $(".navbar-nav li a").on("click", function(){ 
        $(this).addClass("active");
        setTimeout(function(){ $(".navbar-nav li a").removeClass("active"); }, 1000)
    });
</script>
<div class="box">
  <h1>Sentiment Analyzer</h1>
  <h3>Calculate sentiment score of your text!</h3>
  <script src="{{ url_for('static', filename='index.js') }}"></script>
</div>
<div class="containerr">
  <textarea id="text_input" name="text_input" rows="4" cols="50" placeholder="Please enter the text" oninput="textChanged(this.value)"></textarea>
  <div id="circle">
      <div id="score">---</div>
  </div>
  <div id="emotion-container"></div>
</div>
</body>
</html>
